[Unit]
Description=USRP Signal Tool Service
After=network.target uhd-host.service
Wants=network-online.target

[Service]
 # 替换为你的用户名
User=[your_username]
#  替换为项目根目录
WorkingDirectory=[/yourpathto/usrp-signal-tool]
 # 替换为 Python 路径（虚拟环境路径或系统 Python）
ExecStart=[/yourpathto/python3] app.py
Environment="PYTHONUNBUFFERED=1"
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target